*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

:root{
     font-size: 10px;
    --pane-header-height: 50px;
    --background: #333;
    --pane: #fa9e9e;
    --h1-title: white;
    --h2-title: black;
    --p-text: black;
    --game-button: #a19f9f;
    --options-button: #3b3939;
    --shadow-color: #ccc;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.game-container{
    max-height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 2%;
}

h1{
    color: var(--h1-title);
    font-size: 25px;
}

h2{
    color: var(--h2-title);
    font-size: 20px;
}

p{
    color: var(--p-text);
    font-size: 1.6rem;
    margin: 6px 0;
}

.pane-container{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    transition: width 0.8s ease-out;
}

.pane-container.full .hidden{
    display: none;
}

.pane-container.slim{
    width: 240px;
    overflow: hidden;
}

.pane-container.slim.hidden{
    width: 0;
}

.pane-header{
    height: var(--pane-header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pane{
    background-color: var(--pane);
    display: flex;
    padding: 20px;
    height: calc(100% - var(--pane-header-height));
    width: 100%;
    border-radius: 20px;
}

.pane.scoreboard{
    flex-direction: column;
    justify-content: space-between;
}

.pane.scoreboard button{
    display: none;
}

.pane.game{
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.pane.options{
    flex-direction: column;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 500px;
    gap: 30px;
    aspect-ratio: 1/1;
}

button{
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px var(--shadow-color);
    cursor: pointer;
    border: none;
    outline: none;
}

.game-board button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--game-button);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.button{
    background-color: var(--options-button);
    height: 30px;
    margin: 5px 0;
}

.cross, .circle{
    cursor: default;
}

.cross {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48bGluZSB4MT0iNCIgeTE9IjQiIHgyPSIyMCIgeTI9IjIwIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiLz48bGluZSB4MT0iMjAiIHkxPSI0IiB4Mj0iNCIgeTI9IjIwIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=');
}
.circle {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSI4IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiLz48L3N2Zz4=');
}

/*  Responsiveness for diffirent screen size  */
@media only screen and (max-height: 700px) {
    .game-container{
        max-height: none;
    }

}@media only screen and (max-height: 650px) {
    .game-container{
        max-height: none;
    }

}@media only screen and (max-height: 800px) {
    .game-board{
        min-width: 350px;
    }

}@media only screen and (max-height: 650px) {
    .game-board{
        min-width: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .pane-container.slim{
        transition: none;
    }

    .pane-container.slim.scoreboard-container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(87, 85, 85, 0.4);
    }

    .pane-container.slim.scoreboard-container.hidden{
        width: 0;
    }

    .pane.scoreboard{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 300px;
        max-height: 375px;
        background-color: var(--pane);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }
    .pane.scoreboard button{
        display: block;
    }
}

@media only screen and (max-width: 1500px) {
    .game-board{
        min-width: 400px;
    }

}@media only screen and (max-width: 1100px) {
    .game-board{
        min-width: 350px;
    }

}@media only screen and (max-width: 750px) {
    .game-board{
        min-width: 275px;
        gap: 25px;
    }

}@media only screen and (max-width: 650px) {
    .game-container{
        gap: 0;
        flex-direction: column;
        max-height: unset;
    }

    .pane-container.slim .pane-header{
        width: 0;
        height: 0;
    }

    .pane-container.slim{
        width: 100%;
    }

    .pane.game{
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        padding-bottom: 30px;
    }

    .pane.options{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 0;
    }

    .pane.options button{
        height: 10px;
    }

}@media only screen and (max-width: 400px) {
    .game-board{
        min-width: 225px;
        gap: 20px;
    }
}

